{% extends 'base.html' %}
{% block title %}Szczegóły wiadomości{% endblock %}
{% block content %}
    <h2>Wiadomość:</h2>
    <table>
        <tr>
            <td>Treść wiadomości</td>
            <td>Nadawca</td>
            <td>Odbiorca</td>
            <td>Data nadania</td>
        </tr>
        <tr>
            <td>{{message.content}}</td>
            <td>{{message.sender}}</td>
            <td>{{message.receiver}}</td>
            <td>{{message.creation_date}}</td>
        </tr>
    </table>
    {% if message.receiver == user %}
        <h5><a href="{% url 'new_message' message.sender.id %}">Odpisz</a></h5>
    {% endif %}
{% endblock %}