{% extends 'base.html' %}
{% block title %}Zmień hasło{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="page-header">
        <h3>Zmień hasło:</h3>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form action="{% url 'reset_password' user.id %}" method='post'>
                {{form}}
                <button type="submit" class="btn btn-info">Wyślij</button>
                {% csrf_token %}
            </form>
            {% if msg %}
            <div class="alert alert-success">{{msg}}</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}