{% extends 'base.html' %}
{% block title %}Twoje wiadomości{% endblock %}
{% block content %}
    <h2>Wszystkie wiadomości użytkownika {{user.username}}:</h2>
    <h3>Odebrane</h3>
    <table>
        <tr>
            <td>Treść wiadomości</td>
            <td>Nadawca</td>
            <td>Data wysłania</td>
            <td>Status</td>
        </tr>
        {% for message in messages_received %}
        <tr>
            <td><a href="{% url 'details_message' message.id %}">{{message.content|truncatechars:30}}</a></td>
            <td><a href="{% url 'user_twits' message.sender.id %}">{{message.sender}}</a></td>
            <td>{{message.creation_date}}</td>
            <td>{{message.is_read|yesno:"Odebrana,Nieodebrana"}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <h3>Wysłane</h3>
    <table>
        <tr>
            <td>Treść wiadomości</td>
            <td>Odbiorca</td>
            <td>Data wysłania</td>
            <td>Status</td>
        </tr>
        {% for message in messages_sent %}
        <tr>
            <td><a href="{% url 'details_message' message.id %}">{{message.content|truncatechars:30}}</a></td>
            <td><a href="{% url 'user_twits' message.receiver.id %}">{{message.receiver}}</a></td>
            <td>{{message.creation_date}}</td>
            <td>{{message.is_read|yesno:"Odebrana,Nieodebrana"}}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
{% endblock %}